<div class="row pt-4">
    <div class="col-md-6 offset-md-3">
        <div class="card card-body">    

            {{#each errors  }}
                <div class="alert alert-danger">{{ text }}</div>
            {{ else }}

            {{/each }}

            <h2>Video Ideas</h2>
            <form action="/ideas/update/{{ idea.id }}?_method=PUT" method="POST">
            <input type="hidden" name="_method" value="PUT">
                <div class="form-group">
                    <label for="">Title:</label>
                    <input type="text" name="title" id="title" class="form-control" value="{{ idea.title }}" >
                </div>

                <div class="form-group">
                    <label for="">Details:</label>
                    <textarea name="details" id="details" cols="30" rows="10" class="form-control" >{{ idea.details }}</textarea>
                </div>
                <button type="submit" class="btn btn-success float-right">
                    Update
                </button>
        </div>
    </div>
</div>